extend layout

block main
	div.categorypanel.centered
		ul
			each category in categorylist
				li.category-item
					span= category.category_name
					span.category-modify
						a(href="/category/rename/"+category.category_id) Rename
						| &nbsp;|&nbsp;
						a(href="/category/remove/"+category.category_id) Delete
			else
				li.category-item
					span No Category to show, Please add one.
			li
				form(style="text-align:right",method="POST")
					input(type="text", placeholder="New Category",name="category_name",value=renamecat_name)
					| &nbsp;
					input(type="submit", value="Rename "+renamecat_name)