extend layout

block main
	div.categorypanel.centered
		ul
			each category in categorylist
				li.category-item
					span= category.category_name
					span.category-modify
						a(href="/category/rename/"+category.category_id) Rename
						| &nbsp;|&nbsp;
						a(href="/category/remove/"+category.category_id) Delete
			li
				form(style="text-align:right",method="POST")
					input(type="text", placeholder="New Category",name="category_name")
					| &nbsp;
					input(type="submit", value="Add Category")