extend layout

block main
	div.centered
		table.centered(cellspacing="10em")
			tr
				th(colspan="2") Add Movie
			tr
				td Movie Name:
				td
					input(type="text",name="movie_name",placeholder="Movie Name")
			tr
				td Movie ID:
				td
					input(type="text",name="movie_id",placeholder="Movie ID")
			tr
				td Year Released:
				td
					input(type="text",name="movie_released",placeholder="Year")
			tr
				td(style="vertical-align:top") Categories:
				td
					input(type="checkbox",name="movie_category",value="catid")
					| &nbsp;Action
					br
					input(type="checkbox",name="movie_category",value="catid")
					| &nbsp;Adventure
					br
					input(type="checkbox",name="movie_category",value="catid")
					| &nbsp;Anime
					br
			tr
				td(colspan="2",align="right")
					input(type="submit",name="add_movie",value="Submit")