extend layout

block content
  div.row.nopadding
    div#sidebar.col-12.col-md-4.nopadding
      h4 Category
      ul.list-group(style="margin:0")
        li.list-group-item list
        li.list-group-item list
    div#main.col.col-12.col-md-8.bg-success(style="margin:0")
      | content