<!DOCTYPE html>
<html>
<head>
  <title>
  Movie Title
  </title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="head" >
<h2>
Movie Gallery
</h2>
<nav>
<form class="search-form" >
  <input type="text" placeholder="Search" />
  <input type="submit" value="Go" />
</form>
  <ul>
    <li><a href="#" >Home</a></li>
    <li><a href="#" >Popular</a></li>
  </ul>
</nav>

</div>
<div class="main" >
  <div class="categorypanel centered" >
    <ul>
      <li class="category-item" >
        <span>Category Name</span>
        <span class="category-modify">
          <a href="#" >Rename</a>&nbsp;|
          <a href="#" >Delete</a>
        </span>
      </li>
      
      <li class="category-item" >
        <span>Category Name</span>
        <span class="category-modify">
          <a href="#" >Rename</a>&nbsp;|
          <a href="#" >Delete</a>
        </span>
      </li>
      
      <li>
        <form style="text-align: right;">
          <input type="text" placeholder="New Category" />
          <input type="submit" value="Add"/>
        </form>
        
      </li>
      
    </ul>
    
  </div>
  <div class="clearfloat"></div>
</div>

<div class="footer">
arevir26&copy;2017
</div>
</body>
</html>

