<!DOCTYPE html>
<html>
<head>
  <title>
  Movie Title
  </title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="head" >
<h2>
Movie Gallery
</h2>
<nav>
<form class="search-form" >
  <input type="text" placeholder="Search" />
  <input type="submit" value="Go" />
</form>
  <ul>
    <li><a href="#" >Home</a></li>
    <li><a href="#" >Popular</a></li>
  </ul>
</nav>

</div>
<div class="main" >
  <div>
    <form>
      <table class="centered admin-form" >
        <thead>
          <th colspan="2">Admin Panel</th>
        </thead>
        <tr>
          <td>Username:</td>
          <td><input type="text" placeholder="Username" name="username" /></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="text" placeholder="Password" name="password" /></td>
        </tr>
        <tr>
          <td colspan="2" align="right"><input type="submit" class="admin-submit-btn" value="Login" /></td>
        </tr>
      </table>
    </form>
  </div>
  <div class="clearfloat"></div>
</div>

<div class="footer">
arevir26&copy;2017
</div>
</body>
</html>

