<!DOCTYPE html>
<html>
<head>
  <title>
  Movie Title
  </title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="head" >
    <h2>
    Movie Gallery
    </h2>
    <nav>
    <form class="search-form" >
      <input type="text" placeholder="Search" />
      <input type="submit" value="Go" />
    </form>
      <ul>
        <li><a href="#" >Home</a></li>
        <li><a href="#" >Popular</a></li>
      </ul>
    </nav>
    </div>
  <div class="main" >
    <div class="movieinfo" >
      <h4>Movie Title</h4>
      <div class="moviedetails" >Release Date:</div>
      <div class="moviedetails" >Views:</div>
      <div class="moviedetails" >Category:<span><a href="#">Action</a></span></div>
      <div class="moviedetails" >Date Added:</div>
    </div>
    
    <div class="videocontainer">
      
      <video controls width="640px">
        <source src="F:\Videos\Movies\3 Idiots (2010) BRRip\3 Idiots (00) Sample.mkv" />
      Video Not Supported
      </video>
    </div>
    <div style="clear:both"></div>
  </div>

  <div class="footer">
  arevir26&copy;2017
  </div>
</body>
</html>

